@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|News+Cycle|Oswald|Playfair+Display');

header{
	text-align: center;
}

	header figure img{
	    width: 20%;
	    display: inline-block;
	    margin: 0 auto;
	    padding-top: 13px;
    	padding-bottom: 13px;
	}


main .Foto-ancha{
	background-size: cover;
	background-image: url(img/fondo.jpg);
	box-sizing: border-box;
	width: 100%;
	height: 400px;
	background-position: center;
}

main .Descripcion h1{
	text-align: center;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-top: 30px;
    font-size: 34px;
	}
main .Descripcion p{
	line-height: 24px;
    text-align: center;
    padding-left: 35%;
    padding-right: 35%;
    font-family: 'News Cycle', sans-serif;
    margin-top: 20px;
	}

footer form{
	display: flex;
	flex-direction: column;
	font-family: 'Oswald', sans-serif;
	margin-top: 10px;
	background-color: black;
	background-size: cover;
	/*height: 400px;*/
	width: 100%;
	color: white;
	padding: 5%;
}

footer label{
	padding-top: 5px;
	padding-bottom: 5px;
}

input{
	width: 319px;
	height: 20px;
}

input.boton{
	width: 48px;
	margin-top: 5px;
}

textarea{
	width: 319px;
    height: 79px;
}

section span{
	display: inline-block;
	vertical-align: top;
}
section.redesSociales{
	margin-top: 40px;
	margin-bottom: 0;
	text-align: center;
}

section span.ico{
	font-size: 35px;
	text-decoration: none;
	color: black;
	padding: 4px;
}


