@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|News+Cycle|Oswald|Playfair+Display');

header{
	text-align: center;
}

	header figure img{
	    width: 20%;
	    display: inline-block;
	    margin: 0 auto;
	    padding-top: 13px;
    	padding-bottom: 13px;
	}


main .Foto-ancha{
	background-size: cover;
	background-image: url(img/fondo.jpg);
	box-sizing: border-box;
	width: 100%;
	height: 400px;
	background-position: center;
}

main .Descripcion h1{
	text-align: center;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-top: 30px;
    font-size: 34px;
	}
main .Descripcion p{
	line-height: 24px;
    text-align: center;
    padding-left: 35%;
    padding-right: 35%;
    font-family: 'News Cycle', sans-serif;
    margin-top: 20px;
	}

footer form{
	display: flex;
	flex-direction: column;
	font-family: 'Oswald', sans-serif;
	margin-top: 10px;
	background-color: black;
	background-size: cover;
	/*height: 400px;*/
	width: 100%;
	color: white;
	padding: 5%;
	box-sizing: border-box;
	align-items: center;
}

footer label{
	padding-top: 5px;
	padding-bottom: 5px;
}

input{
	width: 319px;
	height: 20px;
}

input.boton{
	width: 48px;
    margin-top: 13px;
    border: none;
    background-color: white;
}

input.boton:hover{
	width: 48px;
    margin-top: 13px;
    border: none;
    background-color: pink;
    color: white;
}

textarea{
	width: 319px;
    height: 79px;
}

section span{
	display: inline-block;
	vertical-align: top;
}
section.redesSociales{
	margin-top: 40px;
	margin-bottom: 0;
	text-align: center;
}

section span.ico{
	font-size: 35px;
	text-decoration: none;
	color: black;
	padding: 4px;
}

main section.mosaico h1{
	width: 100%;
	margin-bottom: 20px;
}
main .mosaico h1{
	text-align: center;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-top: 30px;
    font-size: 34px;
	}

section.mosaico{
	display: flex;
	width: 100%;
	flex-flow: row wrap;
	padding:30px;
	box-sizing: border-box;
	justify-content: space-around;
}

.mosaico figure {
	width: 24%;
	height: 24%;
}

.mosaico figure img{
	width: 100%;
}

	.box.a{
		width: 24%;
		order: 1;
	}

	.box.b{
		width: 24%;
		order: 2;
	}

	.box.c{
		width: 24%;
		order: 3;
	}

	.box.d{
		width: 24%;
		order: 4;
	}

	.box.e{
		width: 24%;
		order: 5;
	}

	.box.f{
		width: 24%;
		order: 6;
	}

	.box.g{
		width: 24%;
		order: 7;
	}

	.box.h{
		width: 24%;
		order: 8;
	}

@media (max-width: 900px){
	header figure img{
	    width: 30%;

	.box.a{
		width: 48%;
		order: 6;
	}

	.box.b{
		width: 48%;
		order: 7;
	}

	.box.c{
		width: 48%;
		order: 8;
	}

	.box.d{
		width: 48%;
		order: 1;
	}

	.box.e{
		width: 48%;
		order: 2;
	}

	.box.f{
		width: 48%;
		order: 3;
	}

	.box.g{
		width: 48%;
		order: 4;
	}

	.box.h{
		width: 48%;
		order: 5;
	}
}


@media (max-width: 600px){
	header figure img{
	    width: 55%;
	}
	.box.a{
		width: 100%;
		order: 8;
	}

	.box.b{
		width: 100%;
		order: 7;
	}

	.box.c{
		width: 100%;
		order: 6;
	}

	.box.d{
		width: 100%;
		order: 5;
	}

	.box.e{
		width: 100%;
		order: 4;
	}

	.box.f{
		width: 100%;
		order: 3;
	}

	.box.g{
		width: 100%;
		order: 2;
	}

	.box.h{
		width: 100%;
		order: 1;
	}
}










